/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.ruby-version
.rakeTasks
*.lock
*.jar
*.gem
*.gemspec
*.crt
.env
.idea/
.mvn/
db/
servers/
obsolete/

neo4j-java-driver_jars.rb
Gemfile

