name: Specs

on:
  push:
    branches: [ 4.4 ]
  pull_request:
    branches: [ 4.4 ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: false
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby: [ jruby-9.3.10.0, jruby-9.4.2.0, ruby-3.1.3, ruby-3.2.0 ]
        neo4j: [ 3.5.35, 4.0.12, 4.1.12, 4.2.19, 4.3.23, 4.4.18, 5.5.0 ]
        include:
          - neo4j: 3.5.35
            java-version: 8
          - neo4j: 5.5.0
            java-version: 17
            options: "-t ~causal"
    env:
      NEO4J_VERSION: ${{ matrix.neo4j }}
    steps:
      - name: Start neo4j
        run: docker run --name neo4j --env NEO4J_AUTH=neo4j/pass --env NEO4J_ACCEPT_LICENSE_AGREEMENT=yes --env NEO4J_dbms_security_auth__minimum__password__length=4 -p7687:7687 -p7474:7474 -v `pwd`/tmp:/var/lib/neo4j/import --rm neo4j:${{ matrix.neo4j }}-enterprise &

      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8.x'
      - uses: BSFishy/pip-action@v1
        with:
          packages: git+https://github.com/klobuczek/boltkit@1.3#egg=boltkit

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version || 11 }}

      - name: Install dependencies
        run: bin/setup

      - name: Wait for neo4j
        run: while [ $((curl localhost:7474/ > /dev/null 2>&1); echo $?) -ne 0 ]; do sleep 1; done

      - name: Run tests
        run: bundle exec rspec -t ~csv ${{ matrix.options }}
